body {
    font-family: Roboto, sans-serif;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: auto;
    width: 8%;
    margin-left: -50px;
}

.canopy {
    max-width: 45%;
    height: auto;
    border: 5px solid #8e3a89;
}

.flower {
    width: 200px;
    height: 200px;
    border: 5px solid #8e3a89;
    margin: 10px;
}

.section-1 {
    background-color: #f5259a;
    padding: 10px 250px;
}

.subsection-1 {
    padding: 40px 0px;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

nav li {
    margin: 7px;
    font-size: large;
    font-weight: bold;
    color: #f4d000;
}

a, a:hover {color: inherit}