body {
    font-family: Roboto, sans-serif;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: auto;
    width: 8%;
    margin-left: -50px;
}

.canopy {
    max-width: 45%;
    height: auto;
    border: 5px solid #8e3a89;
}

.flower {
    width: 150px;
    height: 150px;
    border: 5px solid #8e3a89;
    margin: 10px;
}

.section-1 {
    background-color: #f5259a;
    padding: 10px 250px;
}

.subsection-1 {
    padding: 40px 0px;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

nav li {
    margin: 7px;
    font-size: large;
    font-weight: bold;
    color: #f4d000;
}

a, a:hover {color: inherit}
a:hover {text-decoration: underline;}

.section-2 {
    padding: 30px 200px;
    background-color: #f497dc;
    text-align: center;
}

.fact {
    flex: 1 1 auto;
    margin: 10px;
    text-align: center;
}

.section-3 {
    padding: 90px 250px;
    background-color: #d6c6ff;
    font-style: italic;
}

.right-align {
    text-align: right;
    font-size: 170%;
    font-style: normal;
}

.section-4 {
    padding: 70px 180px;
    background-color: #f497dc;
}

.subsection-2 {
    padding: 20px 70px;
    background-color: #c70c76;
    color:rgb(255, 199, 252);
    font-size: 120%;
    border-radius: 15px;
}

button {
    background-color: #c70c76;
    color:rgb(255, 199, 252);
    padding: 5px 8px;
    border: 2px solid #5a834e;
    font-size: 120%;
    border-radius: 8px;
}
button:hover {background-color: #ec1890;}

footer {
    padding: 25px 250px;
    text-align: center;
    background-color: #96092c;
    color: bisque;
}

footer a  {text-decoration: none;}